@charset "UTF_8";

//FONTS GOOGLE ROBOOT
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// END GOOGLE FONTS ROBOTO

// START SASS CSS 


// COLORS VARIAVEIS CSS3 ROOT
$bg-container-potifolio:#000814;
// END COLORS VARIAVEIS ROOT
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    background-color: $bg-container-potifolio;
    overflow-x: hidden;
}
.img{
    width: 100%;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0;
    position: fixed;
    width: 100vw;
    background-color: #000e24a6;
}
.container-header .menu-desktop{
    display: none;
}
.container-header .logo-container{
    padding-left: 40px;
}
.container-header .logo-container a{
    color: #61A5C2;
    font-size: 1.1em;
    text-transform: uppercase;
}
.container-header .nav-container{
    display: flex;
}
.container-header .nav-container .menu-toogle{
    padding-right: 60px;
    cursor: pointer;
}
.container-header .nav-container .menu-toogle img{
    width: 30px;
}

.container-header .nav-container .menu-mobile{
    display: block;
    position:fixed;
    width: 0;
    height: calc(100vh - 20vh);
    overflow: auto;
    top: 10vh;
    right: 0;
    margin: 0 auto;
    background-color: #000e24d0;
    text-align: center;
    transition: all .3s ease;
    z-index: 1000;
}
.container-header .nav-container .menu-mobile.view{
    width: 50vw;
    overflow: auto;
}

.container-header .nav-container .menu-mobile li{
    padding: 30px 0;
}
.container-header .nav-container .menu-mobile li a{
    color: #61A5C2;
    font-size: 1.3em;
}




.container-principal{
    width: 100vw;
}
.container-principal .sobre-mim .container-ctn{
    padding: 80px 40px;
    margin: 0 auto;
    text-align: center;
}

.container-principal .sobre-mim .container-ctn .image-ctn{
    display: block;
    max-width: 400px;
    margin: 0 auto;
}
.container-principal .sobre-mim .container-ctn .image-ctn img{
    width: 100%;
}

.container-principal .container-ctn .ctn-texts{
    margin-top: 30px;
}
.container-principal .container-ctn .ctn-texts .contents-titles h2{
    color: #b1b1b1;
    font-size: clamp(1.3em,1.1em,.90em);
}
.container-principal .container-ctn .ctn-texts .contents-titles h2 >span{
    color: #61A5C2;
}
.container-principal .container-ctn .ctn-texts .contents-paragrafy{
    padding-top: 1.1em;
}
.container-principal .container-ctn .ctn-texts .contents-paragrafy p{
    color: #a3bec1;
    letter-spacing: 1.2px;
    line-height: 1.2;
    font-size: clamp(1.3em, 0.9em, 1.5em);
}




.container-principal .estudos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-principal .estudos-container .estudy-show{
    display: flex;
    flex-direction: column;
    margin-top: 5.425em;

}
.container-principal .estudos-container .estudy-show .estudy-title{
    width: 100%;
    display: block;
    text-align: center;
}
.container-principal .estudos-container .estudy-show .estudy-title h2{
    color: #248f8f;
    text-transform: uppercase;
    font-weight:400;
}
.container-principal .estudos-container .estudy-show .agroup-actions-container{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit(),minmax(300px,1fr));
}
.container-principal .estudos-container .estudy-show .agroup-actions-container .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 256px;
    height: auto;
    border: 2px solid;
    border-image: linear-gradient(160deg,#5491DC,#4233A0);
    border-image-slice: 1;
    margin-bottom: 4em;
    padding: 20px;
    flex:1;
    position: relative;
}
.container-principal .estudos-container .estudy-show .agroup-actions-container .card .card-title h3{
    background-image: linear-gradient(45deg,#DC8854,#C25917);
    color: transparent;
    -webkit-background-clip: text;
}
.estudy-show .agroup-actions-container .card .card-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}
.estudy-show .agroup-actions-container .card .card-progress span{
    color: transparent;
    text-align: end;
    background: linear-gradient(45deg,#c25917,#DC8854);
    -webkit-background-clip: text;

}
.estudy-show .agroup-actions-container .card .card-progress span::after{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #C25917;
}
.estudy-show .agroup-actions-container .card .card-progress span::before{
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background:#033457;
    position: absolute;
    top: 92%;
    right: 0;
}

.container-principal .estudos-container .estudy-show .agroup-actions-container .card:nth-child(2) .card-title h3{
    background: linear-gradient(45deg,#4877B1,#27B7DE);
    color: transparent;
    -webkit-background-clip: text;
}

.estudy-show .agroup-actions-container .card:nth-child(2) .card-progress span{
    color: transparent;
    text-align: end;
    position: relative;
    background: linear-gradient(45deg,#4877B1,#27B7DE);
    -webkit-background-clip: text;

}
.estudy-show .agroup-actions-container .card:nth-child(2) .card-progress span::after{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #27B7DE;
}
.estudy-show .agroup-actions-container .card:nth-child(2) .card-progress span::before{
    content: '';
    display: block;
    width: 52px;
    height: 2px;
    background:#033457;
    position: absolute;
    top: 92%;
    right: 0;
}




.container-principal .estudos-container .estudy-show .agroup-actions-container .card:nth-child(3) .card-title h3{
    background: linear-gradient(45deg,#CE8D0B,#DFD329);
    color: transparent;
    -webkit-background-clip: text;
}

.estudy-show .agroup-actions-container .card:nth-child(3) .card-progress span{
    color: transparent;
    text-align: end;
    position: relative;
    background: linear-gradient(45deg,#CE8D0B,#DFD329);
    -webkit-background-clip: text;

}
.estudy-show .agroup-actions-container .card:nth-child(3) .card-progress span::after{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #DFD329;
}

.estudy-show .agroup-actions-container .card:nth-child(3) .card-progress span::before{
    content: '';
    display: block;
    width: 75px;
    height: 2px;
    background:#033457;
    position: absolute;
    top: 92%;
    right: 0;
}



.container-principal .projetc-realy{
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
}

.container-principal .projetc-realy .container-realy-ctn{
    margin-top: 5em;
}
.container-principal .projetc-realy .container-realy-ctn .realy-ctn-title h2{
    color: transparent;
    text-align: center;
    background: linear-gradient(45deg,#5491DC,
    #4233A0);
    -webkit-background-clip: text;
    text-transform: uppercase;
}
.cards-realy-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cards-realy-container .card{
    display: flex;
    flex-direction: column;
    align-self: normal;
    color: white;
    width: 350px;
    margin-top: 5em;
    border: 2px solid;
    border-image: linear-gradient(160deg,#5491DC,#4233A0);
    border-image-slice: 1;
    gap: 20px;
}
.image-realy{
    max-width: 350px;
    width: 100%;
}
.image-realy img{
    width: 100%;
}
.realy-contents{
    padding-left: 20px;
}
.realy-contents .realy-description p{
    font-size: clamp(1em,1.1em,.70em);
    color:#b1b1b1#033457;
    padding: 10px 0;
}
.realy-contents .realy-btn{
    display: block;
    margin-top: 20px;
}
.realy-contents .realy-btn a{
    padding: 10px 40px;
    background-color: #4233A0;
    color: #b1b1b1;
    border: 2px solid;
    border-image: linear-gradient(40deg,#356094,#5c4dbb);
    border-image-slice: 1;
}
// END SASS CSS