@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #000814;
  overflow-x: hidden;
}

.img {
  width: 100%;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 0;
  position: fixed;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(#010d20), to(#010d20));
  background: linear-gradient(to top, transparent, #010d20, #010d20);
}

.container-header .menu-desktop {
  display: none;
}

.container-header .logo-container {
  padding-left: 40px;
}

.container-header .logo-container a {
  color: #61A5C2;
  font-size: 1.1em;
  text-transform: uppercase;
}

.container-header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-header .nav-container .menu-toogle {
  padding-right: 60px;
  cursor: pointer;
}

.container-header .nav-container .menu-toogle img {
  width: 30px;
}

.container-header .nav-container .menu-mobile {
  display: block;
  position: fixed;
  width: 0;
  height: calc(100vh - 20vh);
  overflow: auto;
  top: 10vh;
  right: 0;
  margin: 0 auto;
  background-color: #000e24d0;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 1000;
}

.container-header .nav-container .menu-mobile.view {
  width: 50vw;
  overflow: auto;
}

.container-header .nav-container .menu-mobile li {
  padding: 30px 0;
}

.container-header .nav-container .menu-mobile li a {
  color: #61A5C2;
  font-size: 1.3em;
}

.container-principal {
  width: 100vw;
}

.container-principal .sobre-mim .container-ctn {
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
}

.container-principal .sobre-mim .container-ctn .image-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
  margin: 2em auto;
}

.container-principal .sobre-mim .container-ctn .image-ctn img {
  max-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-principal .container-ctn .ctn-texts {
  margin-top: 30px;
}

.container-principal .container-ctn .ctn-texts .contents-titles h2 {
  color: #b1b1b1;
  font-size: clamp(1.3em, 1.5em, 3em);
  text-transform: uppercase;
  font-weight: 400;
}

.container-principal .container-ctn .ctn-texts .contents-titles h2 > span {
  color: transparent;
  background: -webkit-gradient(linear, right top, left top, from(#248f8f), to(#3a789c));
  background: linear-gradient(to left, #248f8f, #3a789c);
  -webkit-background-clip: text;
}

.container-principal .container-ctn .ctn-texts .contents-titles h2::after {
  content: '';
  width: 20%;
  height: 2px;
  display: block;
  background-color: #113158;
  text-align: center;
  margin: 12px auto;
  border-radius: 30px;
}

.container-principal .container-ctn .ctn-texts .contents-paragrafy {
  padding-top: 1.1em;
}

.container-principal .container-ctn .ctn-texts .contents-paragrafy p {
  color: #a3bec1;
  letter-spacing: 1.2px;
  line-height: 1.2;
  font-size: clamp(1.3em, 0.9em, 1.5em);
}

.container-principal .estudos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-principal .estudos-container .estudy-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5.425em;
}

.container-principal .estudos-container .estudy-show .estudy-title {
  width: 100%;
  display: block;
  text-align: center;
}

.container-principal .estudos-container .estudy-show .estudy-title h2 {
  color: #248f8f;
  text-transform: uppercase;
  font-weight: 400;
}

.container-principal .estudos-container .estudy-show .agroup-actions-container {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
}

.container-principal .estudos-container .estudy-show .agroup-actions-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  width: 100%;
  border: 2px solid;
  -o-border-image: linear-gradient(160deg, #5491DC, #4233A0);
     border-image: linear-gradient(160deg, #5491DC, #4233A0);
  border-image-slice: 1;
  margin: 1em;
  padding: 20px;
  position: relative;
}

.container-principal .estudos-container .estudy-show .agroup-actions-container .card .card-title h3 {
  background-image: linear-gradient(45deg, #DC8854, #C25917);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 1.14em;
}

.estudy-show .agroup-actions-container .card .card-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.estudy-show .agroup-actions-container .card .card-progress span {
  color: transparent;
  text-align: end;
  background: linear-gradient(45deg, #c25917, #DC8854);
  -webkit-background-clip: text;
}

.estudy-show .agroup-actions-container .card .card-progress .bar {
  width: 100px;
  height: 2px;
  background-color: #033457;
}

.estudy-show .agroup-actions-container .card .card-progress .bar::after {
  content: '';
  width: 75px;
  height: 2px;
  background-color: #C25917;
  display: block;
}

.estudy-show .agroup-actions-container .card:nth-child(2) .card-progress .bar {
  width: 100px;
  height: 2px;
  background-color: #033457;
}

.estudy-show .agroup-actions-container .card:nth-child(2) .card-progress .bar::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #4877B1;
  display: block;
}

.estudy-show .agroup-actions-container .card:nth-child(3) .card-progress .bar {
  width: 100px;
  height: 2px;
  background-color: #033457;
}

.estudy-show .agroup-actions-container .card:nth-child(3) .card-progress .bar::after {
  content: '';
  width: 15px;
  height: 2px;
  background-color: #DFD329;
  display: block;
}

.container-principal .estudos-container .estudy-show .agroup-actions-container .card:nth-child(2) .card-title h3 {
  background: linear-gradient(45deg, #4877B1, #27B7DE);
  color: transparent;
  -webkit-background-clip: text;
}

.estudy-show .agroup-actions-container .card:nth-child(2) .card-progress span {
  color: transparent;
  text-align: end;
  position: relative;
  background: linear-gradient(45deg, #4877B1, #27B7DE);
  -webkit-background-clip: text;
}

.container-principal .estudos-container .estudy-show .agroup-actions-container .card:nth-child(3) .card-title h3 {
  background: linear-gradient(45deg, #CE8D0B, #DFD329);
  color: transparent;
  -webkit-background-clip: text;
}

.estudy-show .agroup-actions-container .card:nth-child(3) .card-progress span {
  color: transparent;
  text-align: end;
  position: relative;
  background: linear-gradient(45deg, #CE8D0B, #DFD329);
  -webkit-background-clip: text;
}

.container-principal .projetc-realy {
  max-width: 920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-principal .projetc-realy .container-realy-ctn {
  margin-top: 5em;
}

.container-principal .projetc-realy .container-realy-ctn .realy-ctn-title h2 {
  color: transparent;
  text-align: center;
  background: linear-gradient(45deg, #5491DC, #4233A0);
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: clamp(1.3em 1.2em 3.3em);
}

.cards-realy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-realy-container .card {
  max-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 3em;
  border: 2px solid;
  -o-border-image: linear-gradient(160deg, #5491DC, #4233A0);
     border-image: linear-gradient(160deg, #5491DC, #4233A0);
  border-image-slice: 1;
}

.image-realy {
  max-width: 500px;
  width: 100%;
}

.image-realy img {
  width: 100%;
}

.realy-contents {
  padding-left: 20px;
}

.realy-contents .realy-description p {
  font-size: clamp(0.9em, 1.1em, 0.9em);
  color: #b1b1b1 #033457;
  padding: 10px 0;
  color: #a3bec1;
}

.realy-contents .realy-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 200px;
}

.realy-contents .realy-btn a {
  max-width: 90px;
  color: #a3bec2;
  padding: .75rem .90rem;
  text-align: left;
  background: linear-gradient(65deg, #4233A0, #6B2A6E);
  margin-bottom: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  font-size: .90em;
}

.projetc-realy .actions-realy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.actions-realy img {
  max-width: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 25px;
}

.container-principal .cursos-feitos {
  width: 100vw;
}

.container-principal .cursos-feitos .cursos-case-container {
  display: block;
  max-width: 960px;
  margin: 5em auto;
}

.container-principal .cursos-feitos .cursos-case-container .contents-titles {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.container-principal .cursos-feitos .cursos-case-container .contents-titles h2 {
  color: #2EB1C2;
  text-transform: uppercase;
}

.container-principal .cursos-feitos .cursos-case-container .contents-titles p {
  background: linear-gradient(45deg, #5491DC, #4233A0);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: .8125em;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  font-weight: 500;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 3px solid;
  -o-border-image: linear-gradient(60deg, #672A72, #4233A0);
     border-image: linear-gradient(60deg, #672A72, #4233A0);
  border-image-slice: 1;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .case-title {
  margin: 0 0 5px 0;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .case-title h3 {
  color: transparent;
  background: linear-gradient(60deg, #745024, #94643A);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 1em;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .profs-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .profs-case h4 {
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(60deg, #4877B1, #27B7DE);
  -webkit-background-clip: text;
  background-clip: text;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .profs-case span {
  font-size: .75em;
  color: transparent;
  background: linear-gradient(60deg, #4877B1, #27B7DE);
  -webkit-background-clip: text;
  background-clip: text;
  padding-left: 2%;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card:nth-child(3) .profs-case span {
  padding-left: 8%;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .case-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 130px;
  margin-top: 10px;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .case-btn a {
  color: #a3bec2;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #4233A0, #6B2A6E);
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card:nth-child(2) .case-title h3 {
  color: transparent;
  background: linear-gradient(60deg, #2F5481, #17A15C);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 1em;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card:nth-child(3) .case-title h3 {
  color: transparent;
  background: linear-gradient(60deg, #782F7A, #27B7DE);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 1em;
}

.container-principal .cursos-Pelo-youtube {
  width: 100vw;
}

.container-principal .cursos-Pelo-youtube .contents-case-yout {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.container-principal .cursos-Pelo-youtube .contents-case-yout h2 {
  color: #2EB1C2;
  font-weight: 500;
  text-transform: uppercase;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid;
  -o-border-image: linear-gradient(80deg, #79ad44, #248F8F);
     border-image: linear-gradient(80deg, #79ad44, #248F8F);
  border-image-slice: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-title {
  margin: 0 0 5px 0;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-title h3 {
  color: transparent;
  background: linear-gradient(60deg, #782F7A, #27B7DE);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 1em;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .profs-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .profs-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .profs-case h4 {
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(60deg, #4877B1, #27B7DE);
  -webkit-background-clip: text;
  background-clip: text;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .profs-case span {
  background: linear-gradient(45deg, #99D65C, #248F8F);
  color: transparent;
  -webkit-background-clip: text;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn a {
  max-width: 120px;
  background: linear-gradient(125deg, #99D65C, #248F8F);
  color: #ffffff;
  padding: 8px 20px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn .complete-aurls p {
  color: white;
  font-size: .85em;
  opacity: .5;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn .module-cntainer p {
  color: white;
  font-size: .85em;
  opacity: .5;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .complete-aurls p {
  color: white;
  font-size: .85em;
  opacity: .5;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn .case-complete-hours p {
  color: white;
  font-size: .85em;
  opacity: .5;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn .adamnet-contents p {
  color: white;
  font-size: .85em;
  opacity: .5;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card:nth-child(3) .profs-case .case-names, .container-principal .cursos-Pelo-youtube .yout-cards-container .card:nth-child(4) .profs-case .case-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card:nth-child(3) .profs-case .case-names span, .container-principal .cursos-Pelo-youtube .yout-cards-container .card:nth-child(4) .profs-case .case-names span {
  padding-left: 20px;
  background: linear-gradient(45deg, #99D65C, #248F8F);
  color: transparent;
  -webkit-background-clip: text;
}

.container-principal .aurls-yout-container {
  width: 100vw;
}

.container-principal .aurls-yout-container .contents-titles-ctn {
  width: 100%;
  text-align: center;
  margin: 3em auto;
}

.container-principal .aurls-yout-container .contents-titles-ctn h2 {
  color: #2EB1C2;
  text-transform: uppercase;
  font-weight: 500;
}

.container-principal .aurls-yout-container .cards-contianer-yout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid;
  -o-border-image: linear-gradient(60deg, #782F7A, #27B7DE);
     border-image: linear-gradient(60deg, #782F7A, #27B7DE);
  border-image-slice: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .case-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .profs-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .profs-case h4 {
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(60deg, #4877B1, #27B7DE);
  -webkit-background-clip: text;
  background-clip: text;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .case-title {
  margin: 0 0 5px 0;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .case-title h3 {
  color: transparent;
  background: linear-gradient(60deg, #782F7A, #27B7DE);
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  font-size: 1em;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .profs-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .profs-case span {
  color: #782F7A;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .case-btn a {
  max-width: 120px;
  background: linear-gradient(120deg, #4877B1, #27B7DE);
  padding: 8px 20px;
  color: #d0e1e4;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .case-btn .complete-aurls {
  color: #d0e1e4;
  opacity: .5;
  font-size: .85em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#010d20));
  background: linear-gradient(to bottom, transparent, #010d20);
  margin-top: 20px;
}

.footer .name-footer h3 {
  color: #d0e1e4;
  text-transform: uppercase;
  font-size: .85em;
  opacity: .6;
  letter-spacing: 1.2px;
}

.footer .footer-social-midias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.footer .footer-social-midias .fas-whats {
  max-width: 30px;
  margin-right: 8px;
}

.footer .footer-social-midias .fas-whats img {
  width: 100%;
}

.footer .footer-social-midias .fas-facebook {
  max-width: 30px;
  margin-right: 8px;
}

.footer .footer-social-midias .fas-facebook img {
  width: 100%;
}

.footer .footer-social-midias .fas-instagram {
  max-width: 30px;
}

.footer .footer-social-midias .fas-instagram img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .container-principal .projetc-realy {
    display: block;
    margin: 10px;
    margin: 0 auto;
  }
  .container-principal .projetc-realy .cards-realy-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-principal .projetc-realy .cards-realy-container .card {
    display: block;
    margin: 20px;
  }
  .estudy-show .agroup-actions-container .card .card-progress {
    display: block;
  }
  .estudy-show .agroup-actions-container .card .card-progress span {
    display: block;
    width: 100%;
    text-align: end;
  }
  .container-principal .estudos-container .estudy-show .estudy-title {
    width: 100%;
    display: block;
    text-align: center;
  }
  .container-principal .estudos-container .estudy-show .agroup-actions-container .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .container-principal .projetc-realy .cards-realy-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */