@charset "UTF_8";

//FONTS GOOGLE ROBOOT
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// END GOOGLE FONTS ROBOTO

// START SASS CSS 


// COLORS VARIAVEIS CSS3 ROOT
$bg-container-potifolio:#000814;
// END COLORS VARIAVEIS ROOT
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    background-color: $bg-container-potifolio;
    overflow-x: hidden;
}
.img{
    width: 100%;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0;
    position: fixed;
    width: 100%;
    background:linear-gradient(to top,transparent,#010d20,#010d20);
}
.container-header .menu-desktop{
    display: none;
}
.container-header .logo-container{
    padding-left: 40px;
}
.container-header .logo-container a{
    color: #61A5C2;
    font-size: 1.1em;
    text-transform: uppercase;
}
.container-header .nav-container{
    display: flex;
}
.container-header .nav-container .menu-toogle{
    padding-right: 60px;
    cursor: pointer;
}
.container-header .nav-container .menu-toogle img{
    width: 30px;
}

.container-header .nav-container .menu-mobile{
    display: block;
    position:fixed;
    width: 0;
    height: calc(100vh - 20vh);
    overflow: auto;
    top: 10vh;
    right: 0;
    margin: 0 auto;
    background-color: #000e24d0;
    text-align: center;
    transition: all .3s ease;
    z-index: 1000;
}
.container-header .nav-container .menu-mobile.view{
    width: 50vw;
    overflow: auto;
}

.container-header .nav-container .menu-mobile li{
    padding: 30px 0;
}
.container-header .nav-container .menu-mobile li a{
    color: #61A5C2;
    font-size: 1.3em;
}




.container-principal{
    width: 100vw;
}
.container-principal .sobre-mim .container-ctn{
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
}

.container-principal .sobre-mim .container-ctn .image-ctn{
    display: flex;
    max-width: 400px;
    margin: 2em auto;
}
.container-principal .sobre-mim .container-ctn .image-ctn img{
    max-width: 400px;
    object-fit: cover;
    flex: 1;
}

.container-principal .container-ctn .ctn-texts{
    margin-top: 30px;
}
.container-principal .container-ctn .ctn-texts .contents-titles h2{
    color: #b1b1b1;
    font-size: clamp(1.3em,1.5em,3em);
    text-transform: uppercase;
    font-weight: 400;
}
.container-principal .container-ctn .ctn-texts .contents-titles h2 >span{
    color: transparent;
    background: linear-gradient(to left,#248f8f,#3a789c);
    -webkit-background-clip: text;
}
.container-principal .container-ctn .ctn-texts .contents-titles h2::after{
    content: '';
    width: 20%;
    height: 2px;
    display: block;
    background-color: #113158;
    text-align: center;
    margin: 12px auto;
    border-radius: 30px;

}
.container-principal .container-ctn .ctn-texts .contents-paragrafy{
    padding-top: 1.1em;
}
.container-principal .container-ctn .ctn-texts .contents-paragrafy p{
    color: #a3bec1;
    letter-spacing: 1.2px;
    line-height: 1.2;
    font-size: clamp(1.3em, 0.9em, 1.5em);
}




.container-principal .estudos-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-principal .estudos-container .estudy-show{
    display: flex;
    flex-direction: column;
    margin-top: 5.425em;

}
.container-principal .estudos-container .estudy-show .estudy-title{
    width: 100%;
    display: block;
    text-align: center;
}
.container-principal .estudos-container .estudy-show .estudy-title h2{
    color: #248f8f;
    text-transform: uppercase;
    font-weight:400;
}
.container-principal .estudos-container .estudy-show .agroup-actions-container{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}
.container-principal .estudos-container .estudy-show .agroup-actions-container .card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    width: 100%;
    border: 2px solid;
    border-image: linear-gradient(160deg,#5491DC,#4233A0);
    border-image-slice: 1;
    margin: 1em;
    padding: 20px;
    position: relative;
}
.container-principal .estudos-container .estudy-show .agroup-actions-container .card .card-title h3{
    background-image: linear-gradient(45deg,#DC8854,#C25917);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 1.14em;
}
.estudy-show .agroup-actions-container .card .card-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.estudy-show .agroup-actions-container .card .card-progress span{
    color: transparent;
    text-align: end;
    background: linear-gradient(45deg,#c25917,#DC8854);
    -webkit-background-clip: text;

}
.estudy-show .agroup-actions-container .card .card-progress .bar{
    width: 100px;
    height: 2px;
    background-color: #033457;

}

.estudy-show .agroup-actions-container .card .card-progress .bar::after{
    content: '';
    width: 75px;
    height: 2px;
    background-color: #C25917;
    display: block;
}
.estudy-show .agroup-actions-container .card:nth-child(2) .card-progress .bar{
    width: 100px;
    height: 2px;
    background-color: #033457;

}

.estudy-show .agroup-actions-container .card:nth-child(2) .card-progress .bar::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #4877B1;
    display: block;
}

.estudy-show .agroup-actions-container .card:nth-child(3) .card-progress .bar{
    width: 100px;
    height: 2px;
    background-color: #033457;

}

.estudy-show .agroup-actions-container .card:nth-child(3) .card-progress .bar::after{
    content: '';
    width: 15px;
    height: 2px;
    background-color: #DFD329;
    display: block;
}

.container-principal .estudos-container .estudy-show .agroup-actions-container .card:nth-child(2) .card-title h3{
    background: linear-gradient(45deg,#4877B1,#27B7DE);
    color: transparent;
    -webkit-background-clip: text;
}

.estudy-show .agroup-actions-container .card:nth-child(2) .card-progress span{
    color: transparent;
    text-align: end;
    position: relative;
    background: linear-gradient(45deg,#4877B1,#27B7DE);
    -webkit-background-clip: text;

}




.container-principal .estudos-container .estudy-show .agroup-actions-container .card:nth-child(3) .card-title h3{
    background: linear-gradient(45deg,#CE8D0B,#DFD329);
    color: transparent;
    -webkit-background-clip: text;
}

.estudy-show .agroup-actions-container .card:nth-child(3) .card-progress span{
    color: transparent;
    text-align: end;
    position: relative;
    background: linear-gradient(45deg,#CE8D0B,#DFD329);
    -webkit-background-clip: text;

}


.container-principal .projetc-realy{
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-principal .projetc-realy .container-realy-ctn{
    margin-top: 5em;
}
.container-principal .projetc-realy .container-realy-ctn .realy-ctn-title h2{
    color: transparent;
    text-align: center;
    background: linear-gradient(45deg,#5491DC,
    #4233A0);
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: clamp(1.3em 1.2em 3.3em);
}
.cards-realy-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cards-realy-container .card{
    max-width: 300px;
    flex: 1;
    margin: 3em;
    border: 2px solid;
    border-image: linear-gradient(160deg,#5491DC,#4233A0);
    border-image-slice: 1;
}
.image-realy{
    max-width: 400px;
    max-height: 200px;
    height: 100%;
    width: 100%;
}
.image-realy img{
    width: 100%;
}
.realy-contents{
    padding-left: 20px;
}
.realy-contents .realy-description p{
    font-size: clamp(.90em,1.1em,.90em);
    color:#b1b1b1;
    padding: 10px 0;
    color: #a3bec1;
}
.cards-realy-container .card .realy-contents .h2s{
    margin: 10px 0;
}
.cards-realy-container .card .realy-contents .h2s h2{
    font-size:1.2em;
    color: #248F8F;
    font-weight: 200;
    text-transform: uppercase;
}
.realy-contents .realy-btn{
   display: flex;
   align-items: center;
   justify-content:flex-start;
   flex-wrap: wrap;
   flex: 1;
   margin-top: auto;
}
.realy-contents .realy-btn a{
    max-width: 90px;
    color: #a3bec2;
    padding: .75rem .90rem;
    text-align: left;
    background: linear-gradient(65deg,#4233A0,#6B2A6E);
    margin-bottom: 1rem;
    flex: 1;
    text-transform: uppercase;
    font-size: .90em;
}
.projetc-realy .actions-realy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.actions-realy img{
    max-width: 30px;
    flex: 1;
    margin: 0 25px;
}


.container-principal .cursos-feitos{
    width: 100vw;

}
.container-principal .cursos-feitos .cursos-case-container{
    display: block;
    max-width: 960px;
    margin: 4em auto;
}
.container-principal .cursos-feitos .cursos-case-container .contents-titles{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 20px 0;
}


.container-principal .cursos-feitos .cursos-case-container .contents-titles h2{
    color: #2EB1C2;
    text-transform: uppercase;
}

.container-principal .cursos-feitos .cursos-case-container .contents-titles p{
    background: linear-gradient(45deg,#5491DC,#4233A0);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: .8125em;
    padding: 10px 0 0 0;
    text-transform: uppercase;
    font-weight: 500;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    max-width: 400px;
    // width: 100%;
    flex: 1;
    border: 3px solid;
    border-image: linear-gradient(60deg,#672A72,#4233A0);
    border-image-slice: 1;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .case-title{
    margin: 0 0 5px 0;
}
.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .case-title h3{
    color: transparent;
    background: linear-gradient(60deg,#745024,#94643A);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 1em;
}

.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .profs-case{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}
.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .profs-case h4{
text-transform: uppercase;
    color: transparent;
    background: linear-gradient(60deg,#4877B1,#27B7DE);
    -webkit-background-clip: text;
    background-clip: text;
}
.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .profs-case span{
    font-size: .75em;
    color: transparent;
    background: linear-gradient(60deg,#4877B1,#27B7DE);
    -webkit-background-clip: text;
    background-clip: text;
    padding-left: 2%;
}
.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card:nth-child(3) .profs-case span{
    padding-left:8%;
}


.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .case-btn{
    display: flex;
    max-width: 130px;
    margin-top: 10px;
}
.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .case-btn a{
    color: #a3bec2;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    background: linear-gradient(45deg,#4233A0,#6B2A6E);
}



.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card:nth-child(2) .case-title h3{
    color: transparent;
    background: linear-gradient(60deg,#2F5481,#17A15C);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 1em;
}
.container-principal .cursos-feitos .cursos-case-container .cards-case-container .card:nth-child(3) .case-title h3{
    color: transparent;
    background: linear-gradient(60deg,#782F7A,#27B7DE);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 1em;
}



.container-principal .cursos-Pelo-youtube{
    width: 100vw;
}

.container-principal .cursos-Pelo-youtube .contents-case-yout{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.container-principal .cursos-Pelo-youtube .contents-case-yout h2{
    color: #2EB1C2;
    font-weight: 500;
    text-transform: uppercase;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    flex: 1;
    border: 2px solid;
    border-image: linear-gradient(80deg,#79ad44,#248F8F);
    border-image-slice: 1;
    justify-content: space-between;
}



.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-title{
    margin: 0 0 5px 0;
}
.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-title h3{
    color: transparent;
    background: linear-gradient(60deg,#782F7A,#27B7DE);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 1em;
}


.container-principal .cursos-Pelo-youtube .yout-cards-container .card .profs-case{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}
.container-principal .cursos-Pelo-youtube .yout-cards-container .card .profs-case{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-principal .cursos-Pelo-youtube .yout-cards-container .card .profs-case h4{
text-transform: uppercase;
    color: transparent;
    background: linear-gradient(60deg,#4877B1,#27B7DE);
    -webkit-background-clip: text;
    background-clip: text;
}
.container-principal .cursos-Pelo-youtube .yout-cards-container .card .profs-case span{
    background: linear-gradient(45deg,#99D65C,#248F8F);
    color: transparent;
    -webkit-background-clip: text;
    font-size: .80em;
}
.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}


.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn a{
    max-width: 100px;
    background: linear-gradient(125deg,#99D65C,#248F8F);
    color: #ffffff;
    padding: 8px 14px;
    text-transform: uppercase;
    flex: 1;
}


.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn .complete-aurls p{
    color: white;
    font-size: .65em;
    opacity: .5;
}


.container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn .module-cntainer p{
    color: white;
    font-size: .65em;
    opacity: .5;
}


.container-principal .cursos-Pelo-youtube .yout-cards-container .card  .complete-aurls p{
    color: white;
    font-size: .70em;
    opacity: .5;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card  .case-btn .case-complete-hours p{
    color: white;
    font-size: .85em;
    opacity: .5;
}
.container-principal .cursos-Pelo-youtube .yout-cards-container .card  .case-btn .adamnet-contents p{
    color: white;
    font-size: .85em;
    opacity: .5;
}



.container-principal .cursos-Pelo-youtube .yout-cards-container .card:nth-child(3) .profs-case .case-names,.container-principal .cursos-Pelo-youtube .yout-cards-container .card:nth-child(4) .profs-case .case-names{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-principal .cursos-Pelo-youtube .yout-cards-container .card:nth-child(3) .profs-case .case-names span,.container-principal .cursos-Pelo-youtube .yout-cards-container .card:nth-child(4) .profs-case .case-names span{
    padding-left: 20px;
    background: linear-gradient(45deg,#99D65C,#248F8F);
    color: transparent;
    -webkit-background-clip: text;
}












.container-principal .aurls-yout-container{
    width: 100vw;
}

.container-principal .aurls-yout-container .contents-titles-ctn{
    width: 100%;
    text-align: center;
    margin: 3em auto;
}

.container-principal .aurls-yout-container .contents-titles-ctn h2{
    color: #2EB1C2;
    text-transform: uppercase;
    font-weight: 500;
}

.container-principal .aurls-yout-container .cards-contianer-yout{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 20px;
   gap: 20px;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    flex: 1;
    border: 2px solid;
    border-image: linear-gradient(60deg,#782F7A,#27B7DE);
    border-image-slice: 1;
    justify-content: space-between;
}



.container-principal .aurls-yout-container .cards-contianer-yout  .card .case-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}


.container-principal .aurls-yout-container .cards-contianer-yout  .card .profs-case{
    display: flex;
    align-items: center;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .profs-case h4{
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient(60deg,#4877B1,#27B7DE);
    -webkit-background-clip: text;
    background-clip: text;
}


.container-principal .aurls-yout-container .cards-contianer-yout .card .case-title{
    margin: 0 0 5px 0;
}
.container-principal .aurls-yout-container .cards-contianer-yout .card .case-title h3{
    color: transparent;
    background: linear-gradient(60deg,#782F7A,#27B7DE);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    font-size: 1em;
}


.container-principal .aurls-yout-container .cards-contianer-yout .card .profs-case{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 10px;
}

.container-principal .aurls-yout-container .cards-contianer-yout .card .profs-case span{
    color: #782F7A;
}


.container-principal .aurls-yout-container .cards-contianer-yout  .card .case-btn a{
    max-width: 120px;
    background: linear-gradient(120deg,#4877B1,#27B7DE);
    padding: 8px 20px;
    color:#d0e1e4;
    text-transform: uppercase;
    flex: 1;
}

.container-principal .aurls-yout-container .cards-contianer-yout  .card .case-btn .complete-aurls{
    color: #d0e1e4;
    opacity: .5;
    font-size: .85em;
}




.footer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background:linear-gradient(to bottom,transparent,#010d20);
    margin-top: 20px;
}


.footer .name-footer h3{
    color: #d0e1e4;
    text-transform: uppercase;
    font-size: .85em;
    opacity: .6;
    letter-spacing: 1.2px;
}

.footer .footer-social-midias{
    display: flex;
    margin-right: 20px;
}

.footer .footer-social-midias .fas-whats{
    max-width: 30px;
    margin-right: 8px;
}
.footer .footer-social-midias .fas-whats img{
    width: 100%;
}
.footer .footer-social-midias .fas-facebook{
    max-width: 30px;
    margin-right: 8px;
}
.footer .footer-social-midias .fas-facebook img{
    width: 100%;
}
.footer .footer-social-midias .fas-instagram{
    max-width: 30px;
}
.footer .footer-social-midias .fas-instagram img{
    width: 100%;
}
// END SASS CSS














@media screen and (max-width:500px) {
    .container-principal .projetc-realy .cards-realy-container{
        display: grid;
        grid-template-columns: repeat(1,1fr
        );
        justify-content: center;
        align-items: center;
    }
}




@media screen and (min-width:600px){
   .container-principal .projetc-realy{
        display: block;
        margin: 10px;
        margin: 0 auto;
    }
    .container-principal .projetc-realy .cards-realy-container{
        display: grid;
        grid-template-columns: repeat(3,1fr
        );
        justify-content: center;
        align-items: center;
    }
    .container-principal .projetc-realy .cards-realy-container .card{
        display: block;
        margin: 20px;
    }
    .estudy-show .agroup-actions-container .card .card-progress{
       display: block;
       
    }
    .estudy-show .agroup-actions-container .card .card-progress span{
        display: block;
        width: 100%;
        text-align: end;
    }
    .container-principal .estudos-container .estudy-show .estudy-title{
        width: 100%;
        display:block;
        text-align: center;
    }
    .container-principal .estudos-container .estudy-show .agroup-actions-container .card{
        flex-direction: row;
        justify-content: space-between;
    }
}


@media  screen and (min-width: 700px) {
    .container-header .nav-container .menu-toogle{
        display: none;
    }
    .container-header .nav-container .menu-toogle img{
        display: none;
    }
    
    .container-header .nav-container .menu-mobile{
        display: none;
    }



    .container-header .menu-desktop{
        display: flex;
    }
    .container-header .menu-desktop .menu-desk{
        display: flex;
        align-items: center;
        list-style: none;
    }
    .container-header .menu-desktop .menu-desk a:not(last-child){
        margin-right: 0px;
        padding: 10px 20px;
    }
    .container-header .menu-desktop .menu-desk a{
        color: #61A5C2;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }
    .container-header .menu-desktop .menu-desk a:hover{
        color: #447c94;
    }




    .container-principal .aurls-yout-container .cards-contianer-yout{
        display: grid;
        grid-template-columns: repeat(3,1fr);
     }


     .container-principal .cursos-feitos .cursos-case-container .cards-case-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);

        grid-template-rows:300px,300px,300px;
        padding-top: auto;
    }

    .container-principal .cursos-feitos .cursos-case-container .cards-case-container .card{
        background-color: #010d20;
        max-height: 270px;
        height: 100%;
        transition: all .3s ease-in-out;
    }
    .container-principal .cursos-feitos .cursos-case-container .cards-case-container .card:hover{
        background: linear-gradient(60deg,#511053,#11556800);
        transform: scale(1.1);
        cursor: pointer;
    }
    .container-principal .cursos-feitos .cursos-case-container .cards-case-container .card .case-btn{
        margin-top: auto;
    }



    .container-principal .cursos-Pelo-youtube .yout-cards-container{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       margin-top: 3em;

    }
    .container-principal .cursos-Pelo-youtube .yout-cards-container .card{
      max-height: 300px;
      max-width: 500px;
      height: 100%;
      width: 100%;
      transition: all .3s ease-in-out;
      cursor: pointer;
    }

    .container-principal .cursos-Pelo-youtube .yout-cards-container .card .case-btn{
       margin-top: auto;
    }

    .container-principal .cursos-Pelo-youtube .yout-cards-container .card:hover{
        transform: scale(1.03);
    }

    .footer .footer-social-midias{
        cursor: pointer;
    }

    .cards-realy-container .card{
        max-width: 300px;
        max-height: 700px;
        display: flex;
        flex-direction: column;
    }

    .cards-realy-container .card .image-realy{
        max-width: 300px;
        height: 150px;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }
    .cards-realy-container .card .image-realy img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
        transform-origin: right;
    }

    .cards-realy-container .card .image-realy:hover img{
        transform: scale(1.4);
    }
}